<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <RollingFile name="file" filename="logs/logfile.log" filePattern="logs/logfile -%d.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
        <RollingFile name="testfile" filename="logs/test_logfile.log" filePattern="logs/test_logfile -%d.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>

        <Logger name="test" level="all" additivity="false">
            <!--<AppenderRef ref="Console"/>-->
            <AppenderRef ref="testfile"/>
        </Logger>
        <!-- Root Logger -->
        <Root level="all" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="file"/>
        </Root>

    </Loggers>

</Configuration>

