<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name ="Transavia Demo Suit_All Tests">
    <test name = "Booking test">
        <classes>
            <class name="com.epam.transavia.demo.tests.ViewBookingWithoutAccountTests"/>
            <class name="com.epam.transavia.demo.tests.SearchFlightsTests"/>
            <class name="com.epam.transavia.demo.tests.BookingPriceCalculationTests"/>
            <class name="com.epam.transavia.demo.tests.SearchFlightErrorsTests"/>
        </classes>
    </test>
</suite>