<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Transavia Demo Suit_All Tests">

    <listeners>
        <listener class-name="com.epam.transavia.demo.reporting.CustomTestNGListener"/>
    </listeners>
    <!--This set is working now as well-->
    <!--    <test name = "ViewExistingBooking test">
            <classes>
                <class name="com.epam.transavia.demo.tests.ViewBookingWithoutAccountTests"/>
                <class name="com.epam.transavia.demo.tests.SearchFlightsTests"/>
                <class name="com.epam.transavia.demo.tests.BookingPriceCalculationTests"/>
                <class name="com.epam.transavia.demo.tests.SearchFlightErrorsTests"/>
            </classes>
       </test>-->
    <test name="ViewExistingBooking test">
        <classes>
            <class name="com.epam.transavia.demo.tests.ViewBookingWithoutAccountTests"/>
        </classes>
    </test>
    <!-- <test name="Booking Price Calculation tests">
         <classes>
             <class name="com.epam.transavia.demo.tests.BookingPriceCalculationTests"/>
         </classes>
     </test>
     <test name="Search Flights tests">
         <classes>
             <class name="com.epam.transavia.demo.tests.SearchFlightsTests"/>
         </classes>
     </test>
     <test name="Search Flights with error tests">
         <classes>
             <class name="com.epam.transavia.demo.tests.SearchFlightErrorsTests"/>
         </classes>
     </test>-->
</suite>